<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tarefa {{checklistItemMov.chmv_id}}, Questão {{checklistItemMov.id}}</ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button (click)="close()" color="primary">
        Fechar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <swiper-container zoom="true">
        <swiper-slide>
            <div class="swiper-zoom-container">
                <img src="data:image/png;base64,{{photo}}" class="img-fluid">
            </div>
        </swiper-slide>
    </swiper-container>
</ion-content>