.bg-img-chkl{
    background-image: url('/src/assets/images/17.jpg') no-repeat center center;
    opacity: 0.2;
    max-height: 90vh;
    max-width: 90vw;
    position: absolute;
}

.bg-img-chkl-align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card-body{
    padding: 5px !important;
}

.card-title,
.card-footer{
    padding: 0px !important;
    margin: 0px !important;
} 

.no-itens{
    text-align: center;
    font-size: 30px;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 1px 2px 0px #d5d5d5, 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding-top: 45%;
}
 
ion-segment-button, ion-badge {
    font-size: 0.8em !important;
    font-weight: bold;
}