.bg-img-chkl{
    background-image: url('/src/assets/images/17.jpg') no-repeat center center;
    opacity: 0.2;
    max-height: 90vh;
    max-width: 90vw;
    position: absolute;
}

.bg-img-chkl-align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card-body{
    padding: 5px !important;
}

.card-title,
.card-footer{
    padding: 0px !important;
    margin: 0px !important;
} 

#card-home{
    -webkit-box-shadow: -1px 4px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 11px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 11px -1px rgba(0,0,0,0.75);
}