<ion-header>
  <ion-toolbar id="main-menu" class="bg-routine-header">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-item class="header-title" lines="none" class="bg-routine-header">
          <ion-label class="fs-0 fw-bold">Routine Checklist</ion-label>
      </ion-item>
  </ion-toolbar>

  <ion-segment [(ngModel)]="selectedTab" color="tertiary">
    <ion-segment-button value="pending">
      <ion-label>Pendentes  
        <ion-badge mode="ios" color="tertiary">{{pendingTasks.length}}</ion-badge>
      </ion-label>           
    </ion-segment-button>

    <ion-segment-button value="my-tasks" color="tertiary">
      <ion-label>Minhas Tarefas  
        <ion-badge mode="ios" color="tertiary">{{myTasks.length}}</ion-badge>
      </ion-label>           
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="bg-light-gray">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Tarefas Pendentes -->
  <div *ngIf="selectedTab == 'pending'">
    <div *ngIf="pendingTasks.length == 0">
      <h1 class="no-itens">Não há Checklists Pendentes</h1>
    </div>

    <div *ngIf="pendingTasks.length > 0">
      <div *ngFor="let checklistMov of pendingTasks">
        
        <div class="card border text-left m-2 card-shadow" id="card-home" (click)="openTask(checklistMov)">
          <div class="card-header border-0 bg-transparent fs-6 p-1 pt-1">
            <div class="row">
              <div class="col-6 text-start fs-12 fw-bold">CÓDIGO DA TAREFA: {{ checklistMov.id }}</div>
            </div>  
          </div>

          <div class="card-body pb-0 mb-0">
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Descrição: </span>{{ checklistMov.description }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Tot. Perguntas: </span>{{ checklistMov.total_questions }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Tot. Perg. Respondidas: </span>{{ checklistMov.total_answered }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Percentual Concluído: </span>{{ checklistMov.percentage_processed }}%</p>
          </div>

          <div class="card-footer text-muted border-secondary fs-11 fw-bold">
            <ion-icon name="ellipse" color="dark" class="mt-1 ps-2" *ngIf="checklistMov.time_left <= 0"></ion-icon>
            <ion-icon name="ellipse" color="danger" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 0 && checklistMov.time_left <= 6"></ion-icon>
            <ion-icon name="ellipse" color="warning" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 6 && checklistMov.time_left <= 12"></ion-icon>
            <ion-icon name="ellipse" color="success" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 12"></ion-icon>
              {{ "Faltam "+ getTimeLeftText(checklistMov.time_left) +" para o fechamento da tarefa"}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Minhas Tarefas -->
  <div *ngIf="selectedTab == 'my-tasks'">
    <div *ngIf="myTasks.length == 0">
      <h1 class="no-itens">Não há Checklists Pendentes</h1>
    </div>

    <div class=".bg-img-chkl" *ngIf="myTasks.length > 0">
      <div *ngFor="let checklistMov of myTasks">
          <div class="card border text-left m-2 card-shadow" id="card-home" (click)="openTask(checklistMov)">
            <div class="card-header border-0 bg-transparent fs-6 p-1 pt-1">
              <div class="row">
                <div class="col-6 text-start fs-12 fw-bold">CÓDIGO DA TAREFA: {{ checklistMov.id }}</div>
              </div>  
            </div>

          <div class="card-body pb-0 mb-0">
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Descrição: </span>{{ checklistMov.description }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Tot. Perguntas: </span>{{ checklistMov.total_questions }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Tot. Perg. Respondidas: </span>{{ checklistMov.total_answered }}</p>
            <p class="card-title text-start py-1 pl-0 mt-0 fs-12"><span class="fw-bold">Percentual Concluído: </span>{{ checklistMov.percentage_processed }}%</p>
          </div>

          <div class="card-footer text-muted border-secondary fs-11 fw-bold">
            <ion-icon name="ellipse" color="dark" class="mt-1 ps-2" *ngIf="checklistMov.time_left <= 0"></ion-icon>
            <ion-icon name="ellipse" color="danger" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 0 && checklistMov.time_left <= 6"></ion-icon>
            <ion-icon name="ellipse" color="warning" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 6 && checklistMov.time_left <= 12"></ion-icon>
            <ion-icon name="ellipse" color="success" class="mt-1 ps-2" *ngIf="checklistMov.time_left > 12"></ion-icon>
              {{ "Faltam "+ getTimeLeftText(checklistMov.time_left) +" para o fechamento da tarefa"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>