.logo-img img{
    width: 15em;
}

ion-item {
    --padding-start: 0;
}

#login-container{
    background: rgb(1,0,24);
    background: linear-gradient(50deg, rgba(1,0,24,1) 0%, rgba(20,0,70,1) 53%, rgba(32,0,111,1) 100%);
}

@media screen and ( max-height: 311px ) {
    .logo-img {
        display: none;
	}
}

.login-wrap{
    border-radius: 2rem !important;

}