.logo-img img{
    width: 17em;
}

ion-item {
    --padding-start: 0;
}

#login-container{
    background: linear-gradient(140deg, rgb(137, 64, 255) 5%, rgb(82, 58, 170) 38%, rgb(21, 17, 65) 90%); 
}

.login-wrap, .card{
    border-radius: 0.5rem !important;
    width: 90% !important;
    min-width: 200px !important;
    max-width: 500px !important;
    border: 1px solid rgba(255, 255, 255, 0.432);
    box-shadow: 0 1px 8px 0 rgba(216, 216, 216, 100);    
}

.login-wrap, .card{
    background-color: rgb(255, 255, 255) !important;
}

input, .list-md, ion-item > *, ion-list >*{
    background-color: rgba(255, 255, 255, 0) !important;
    --background-color: rgba(255, 255, 255, 0) !important;
    --ion-item-background:rgba(255, 255, 255, 0) !important;
}

@media screen and ( max-height: 311px ) {
    .logo-img {
        display: none;
	}
}








