<ion-content>
    <div id="login-container">
        <div class="row">
            <div class="col-12 min-vh-100 w-100 d-flex flex-column justify-content-center ">
                <!-- <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 col-xl-4 mx-auto">                    -->
                        
                        <div class="card rounded login-wrap mx-auto">
                            <div class="card-body">

                                <div class="text-center logo-img" (click)="configServer()">
                                    <img src="assets/images/logo_linear.png"/>
                                </div>

                                <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submitCredentials()">
                                    <ion-list>
                                        <ion-item>
                                            <ion-input label="Login" labelPlacement="floating" placeholder="Informe o Login" formControlName="login"></ion-input>
                                        </ion-item>
                                        <ion-item>
                                            <ion-input type="password" label="Senha" labelPlacement="floating" placeholder="Informe a senha" formControlName="password"></ion-input>
                                        </ion-item>
                                    </ion-list>

                                    <ion-button type="submit" expand="full" color="success" class="mt-3" strong>
                                        <ion-icon slot="start" name="log-in-outline"></ion-icon>
                                        Entrar
                                    </ion-button>                            
                                </form>
                            </div>
                            <div class="version text-center text-primary fs-13">
                                {{version}}
                            </div>
                        </div>

                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>


</ion-content>