<ion-header>
   <ion-toolbar id="main-menu" class="bg-routine-header">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-item class="header-title" lines="none" class="bg-routine-header">
          <ion-label class="fs-0 fw-bold">{{"Tarefa: " + this.checklistItemMov.chmv_id + ", Pergunta Cod.: " + this.checklistItemMov.id }}</ion-label>
      </ion-item>
  </ion-toolbar>

  <ion-breadcrumbs [maxItems]="5" mode="ios">
   <ion-breadcrumb href="/home">
      <ion-icon name="home-sharp" class="breadcrumb-icon"></ion-icon>
    </ion-breadcrumb>
   <ion-breadcrumb>Tarefa</ion-breadcrumb>
   <ion-breadcrumb>Responder Questão</ion-breadcrumb>
 </ion-breadcrumbs>
</ion-header>

<ion-content class="ion-padding modal-fullscreen" >
  <div>
     <span class="fw-bold fs-17">{{"Pergunta " + ("000" + this.checklistItemMov.sequence).slice(-3) +": "}}</span>
     <span class="text-dark fw-normal fst-italic fs-17">{{this.checklistItemMov.description }}</span>      
  </div>
  <hr/>

  <div class="row" *ngIf="this.checklistItemMov.type == 'S'">
     <div class="col-6 m-0 p-1">
        <div class="d-grid gap-2">
           <button type="button" class="btn btn-outline-danger fw-bold" id="response_n" (click)="setResponse('N')">
              Não &nbsp;<i class="fa-regular fa-thumbs-down"></i>
           </button>   
        </div>
     </div>
     <div class="col-6 m-0 p-1">
        <div class="d-grid gap-2">
           <button type="button" class="btn btn-outline-success fw-bold" id="response_y" (click)="setResponse('Y')">
              Sim &nbsp;<i class="fa-regular fa-thumbs-up"></i>
           </button>   
        </div>
     </div>
  </div>

  <div class="row" *ngIf="this.checklistItemMov.type == 'A'">
     <div class="col-4 m-0 p-1">
        <div class="d-grid gap-2">
           <button type="button" class="btn btn-outline-danger fw-bold" id="response_b" (click)="setResponse('B')">
              Ruim &nbsp;<i class="fa-solid fa-face-tired"></i>
           </button>   
        </div>
     </div>

     <div class="col-4 m-0 p-1">
        <div class="d-grid gap-2">
           <button type="button" class="btn btn-outline-warning fw-bold" id="response_g" (click)="setResponse('G')">
              Bom &nbsp;<i class="fa-solid fa-face-smile"></i>
           </button>   
        </div>
     </div>

     <div class="col-4 m-0 p-1">
        <div class="d-grid gap-2">
           <button type="button" class="btn btn-outline-success fw-bold" id="response_e" (click)="setResponse('E')">
              Ótimo &nbsp;<i class="fa-solid fa-face-laugh-beam"></i>
           </button>   
        </div>
     </div>
  </div>

  <div class="row mt-2" *ngIf="this.checklistItemMov.type_obs != 'N'">
     <div class="col-12 m-0 p-1">
        <ion-textarea 
           labelPlacement="floating" 
           fill="outline" 
           maxlength="200" 
           placeholder="Digite aqui sua observação"
           [counter]="true" 
           [autoGrow]="true"
           [(ngModel)]="observation">
           <div slot="label" *ngIf="this.checklistItemMov.type_obs == 'R'">
              Observações <span class="{{observation =='' ? 'text-danger' : 'text-green-light'}}">(Obrigatório)</span>
           </div>
           <div slot="label" *ngIf="this.checklistItemMov.type_obs == 'O'">Observações (Opcional)</div>
        </ion-textarea>
     </div>
  </div>

  <div class="row" *ngIf="this.checklistItemMov.required_photo =='S'">
     <div class="col-12 m-0 p-1">
        <div class="d-grid gap-2">
         <ion-button color="light" (click)="getPhoto()" [disabled]="photos.length == checklistItemMov.quant_photo">
               <i class="fa-solid fa-camera"></i> &nbsp; Tirar Foto 
           </ion-button>
        </div>
     </div>

     <span class="fw-bold fs-12 text-{{photos.length == checklistItemMov.quant_photo ? 'success' : 'danger'}}">
        Fotos Obrigatórias: {{photos.length +"/"+ checklistItemMov.quant_photo}}
        <hr class="mt-0"/>
     </span>

     <div class="row p-0 m-0" *ngIf="photos.length > 0">
        <div class="col-3 p-0 m-0" *ngFor="let photo of photos; let photosIndex = index">
            <ion-card *ngIf="photos.length > 0" class="m-1 p-0">
               <ion-card-content class="m-0 p-1">
                  <ion-img src="data:image/png;base64,{{photo}}" class="img-fluid w-100"></ion-img>
               </ion-card-content>
             
               <ion-button fill="clear" id="btn-delete-photo" class="m-0 pr-1 w-50 justify-content-center" type="button" color="light" (click)="deletePhoto(photosIndex)">
                  <ion-icon slot="icon-only" color="dark" name="trash-sharp"></ion-icon>
              </ion-button> 

              <ion-button fill="clear" id="btn-delete-photo" class="m-0 pl-1 w-50 justify-content-center" type="button" color="light" (click)="showPhoto(photo)">
                  <ion-icon slot="icon-only" color="dark" name="expand-outline"></ion-icon>
               </ion-button> 
             </ion-card>
        </div>
     </div>      
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
     <div class="row mx-2">
        <div class="col-6">
           <ion-button expand="full" (click)="back()" color="danger" [strong]="true">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Cancelar
         </ion-button>
         </div>
         <div class="col-6">
            <ion-button expand="full" (click)="submit()" color="success" [strong]="true">
               <ion-icon slot="start" name="checkmark-done-sharp"></ion-icon>
               Salvar
            </ion-button>
         </div>
     </div>
  </ion-toolbar>
</ion-footer>